{% extends 'base.html' %}

{% set weekdays = {
    'mon': 'Понедельник',
    'tue': 'Вторник',
    'wed': 'Среда',
    'thu': 'Четверг',
    'fri': 'Пятница',
    'sat': 'Суббота',
    'sun': 'Воскресенье'
    } %}

{% block main %}
    <main class="container mt-3">
        <div class="card my-4 mx-auto">
            <div class="card-body m-2 m-md-4">
                <article class="row">
                    <div class="col-5"><img src="{{ teacher['picture'] }}" class="img-fluid"
                                            alt=""></div>
                    <div class="col-7">

                        <section class="teacher=info">
                            <h1 class="h2">{{ teacher['name'] }}</h1>
                            <p><span
                                    class="badge badge-secondary mr-2">{{ goal }} </span>Рейтинг: {{ teacher['rating'] }}
                                Ставка: {{ teacher['price'] }} / час</p>
                            <p>{{ teacher['about'] }}</p>
                        </section>

                    </div>
                </article>
                <div class="row">
                    <section class="available">
                        <h4 class="mb-4 mt-5">Записаться на пробный урок</h4>

                        {% for key, weekday in weekdays.items() %}
                            <h6 class="mt-4">{{ weekday }}</h6>
                            {% if teacher['free'][key] | length > 1 %}
                                {% for time in teacher['free'][key].keys() %}
                                    <a href="{{ url_for('booking_page', teacher_id=teacher['id'], day=key, time=time) }}"
                                       class="btn btn-outline-success m-2">{{ time }} свободно</a>
                                {% endfor %}
                            {% else %}
                                <p>Нет свободных уроков</p>
                            {% endif %}
                        {% endfor %}
                    </section>
                </div>
            </div>
        </div>
    </main>
{% endblock %}